/* div
{
    height: 300px;
    width: 400px;
    background-color: aqua;

}

section
{
    height: 200px;
    width: 200px;
    background-color: rebeccapurple;
}

header
{
    height: 100px;
    width: 200px;
    background-color: red;
} */


/* .one
{
    height: 400px;
    width: 500px;
    background-color: rebeccapurple;
    font-size: 30px;
    padding:100px;
    border: 20px double black;
    margin: 50px; */
}
    /* padding s xtra fake line.inspect it.in padding area we never putb cntent.but lets upgrade come middle not exacty middle..
     soild means straight line
     dashed means cut cut line
     dotted*/




